@import "tailwindcss";
@import "@zr/ui/ui.css";
@plugin "@iconify/tailwind4";
html {
  @apply h-lvh w-lvw;
  font-family: "霞鹜文楷 GB 屏幕阅读版",
    var(
      --default-font-family,
      ui-sans-serif,
      system-ui,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji"
    );
}
h1 {
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  font-size: 1.75rem;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
h4 {
  font-size: 1.25rem;
  font-weight: bold;
}
h5 {
  font-size: 1rem;
  font-weight: bold;
}
h6 {
  font-size: 1rem;
}
.katex-html {
  @apply hidden;
}
