@import "tailwindcss";
@import "@zr/ui/ui.css";
html{
    @apply h-lvh w-lvw;
}
@utility h1{
    h1 {
        font-size: 36px;
        font-weight: bold;
    }
}
@utility h2 {
    font-size: 24px;
    font-weight: bold;
}
@utility h3 {
    font-size: 20px;
    font-weight: bold;
}
@utility h4 {
    font-size: 16px;
    font-weight: bold;
}
@utility h5 {
    font-size: 16px;
}
@utility h6 {
    font-size: 16px;
}